<div class="panel">
    <div class="panel-heading">
        <span class="glyphicon glyphicon-leaf"></span> 最新文章
    </div>

    <ul class="list-group list-group-flush">
        {% for post in site.posts limit:10 %}
        <li class="list-group-item">
            <div class="panel-post-title">
                <a href="{{ post.url | prepend: site.baseurl }}" title="{{ post.title }}">{{ post.title }}</a>
            </div>
            <span class="badge">0</span>
        </li>
        {% endfor %}
    </ul>
</div>
