<div class="panel">
    <div class="panel-heading">
        <span class="glyphicon glyphicon-tags"></span> 标签分类
    </div>
    <div class="d_tags">
        {% for tag in site.tags %}{% if tag[1].size > site.featured-condition-size %}
        <a data-sort="{{ site.posts.size | minus: tag[1].size | prepend: '0000' | slice: -4, 4 }}"
           href="{{ site.baseurl }}/archive/?tag={{ tag[0] | url_encode }}"
           title="{{ tag[0] }}"
           rel="{{ tag[1].size }}">{{ tag[0] }}</a>
        {% endif %}{% endfor %}
        {{ tags | split:'</a>' | sort | join:'</a>' }}
    </div>
</div>
